<div>
  <h1>Kegel-App-Layout</h1>

  <a href="/">Home</a>
  <a href="/user">Mitspieler</a>
  <a href="/spiel">Spiel</a>
  <a href="/result">Ergebnisse</a>
  <a href="/test">Testtabelle</a><br />
</div>